<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1></h1>

<p>Welcome to </p>

<table border="1" cellpadding="7" cellspacing="7">
    <tr>
        <th width="50px">No</th>
        <th>Name</th>
        <th>Address</th>
        <th>Phone</th>
        <th>Email</th>
        <th width="120px">Action</th>
    </tr>
    <% if(data.length){

            for(var i = 0;i < data.length;i++) { %>
    <tr>
        <td><%= (i + 1) %></td>
        <td><%= data[i].u_username %></td>
        <td><%= data[i].u_password %></td>
        <!--<td><%= data[i].phone %></td>-->
        <!--<td><%= data[i].email %></td>-->
    </tr>
    <% }

    }else{ %>
    <tr>
        <td colspan="3">No user</td>
    </tr>
    <% } %>

</table>
</body>
</html>
